/*fonts*/
@font-face {
    font-family: 'Drugs';
    src: url('../fonts/Drugs.otf') format('opentype');
    font-weight: normal; /* or bold */
    font-style: normal;  /* or italic */
}


@font-face {
    font-family: 'Bambi';
    src: url('../fonts/Bambi.otf') format('opentype');
    font-weight: bold; /* or bold */
    font-style: normal;  /* or italic */
}

/* styles.css */
body {

    font-family: 'Drugs', Algerian;
    background-color: #17a2b8; /* Changed to gradient */
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Ensures the body takes at least full viewport height */
    display: flex;
    flex-direction: column;
    color: white;
}

.footer {
    background-color: #f8f9fa; /* Change to your desired color */
    color: black; /* Text color */
    text-align: center; /* Center text */
    padding: 20px; /* Add some padding */
    position: fixed; /* Fixed position */
    bottom: 0; /* Align to bottom */
    left: 0; /* Align to the left */
    width: 100%; /* Full width */
}




.mainPage{
    padding: 20px;

}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

.list-group-item {
    padding: 15px;
    border: 1px solid #ddd;
    margin: 5px 0;
    border-radius: 5px;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}


/* navigation bar */


.navbar {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center-align children horizontally */
    width: 100%; /* Full width of the container */
    background-color: #f8f9fa; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Optional shadow for styling */
    padding: 20px 0; /* Padding around the navbar */

    overflow: hidden;
    display: flex; /* Flexbox for alignment */
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: center;

}





.logo img {
    max-width: 100%; /* Ensure logo does not exceed the navbar width */
    height: auto; /* Maintain aspect ratio */
}



.topnav {
  display: flex;                 /* Use flexbox for nav items */

}

.topnav a {
  padding: 14px 20px;       /* Adjust padding as needed */
  display: inline-block;    
  color: black;             /* Default link color */
  text-align: center;       
  text-decoration: none;    
  line-height: 30px;  
  -webkit-tap-highlight-color: transparent; /* Removes tap highlight color */
}



.topnav a.active {
  background-color: #17a2b8; /* Active link background */
  color: white;              /* Active link text color */
  border-radius: 30px;       /* Rounded corners for active link */

 
}


.topnav a:hover {
  color: #79c5d2;                 /* Text color on hover */
}




  /* Additional styling for the Login link */
.topnav .login {
  margin-left: 20px;            /* Add space to the left of the Login link */
  font-weight: bold;            /* Optional: make the login link bold */
}






.navbar a {
    display: block; /* Each link takes a full line */
    text-decoration: none;

    padding: 10px;
    text-align: center;
}




/************************************************************************************************************/
/************************************************************************************************************/
/************************************************************************************************************/
/************************************************************************************************************/





.content{
  display: grid; /* Enables Grid */
  place-items: center; /* Centers items both horizontally and vertically */

  color: white;
  padding: 15px;
  margin: 30px 0;
}


.content-container {
    display: flex; /* Use flexbox to arrange children in a row */
    align-items: flex-start; /* Align items at the top */
    justify-content: space-between; /* Space out the content */
}

.text-container {
    flex: 1; /* Take up available space */
    margin-right: 50px; /* Add some space between text and image */
}

.image-container {
    flex-shrink: 0; /* Prevent the image container from shrinking */
}

/*for the login -----------------*/
.login-container {
    background-color: #fff; /* White background for the form */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Fixed width for the form */
}




.messages {
    color: red; /* Red color for error messages */
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555; /* Gray color for labels */
}

.resetpassword{
  text-decoration: none;
  display: flex;
  justify-content: flex-end; /* Aligns child to the right */
  font-size: 13px;
}

.noaccount-haveacccount{
  text-decoration: none;
  padding: 5px;
  display: flex;
  font-size: 13px;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Optional: if you also want vertical centering */
}

input[type="text"],
input[type="password"] {
    width: 100%; /* Full width for inputs */
    padding: 10px;
    border: 1px solid #ddd; /* Light border */
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding is included in total width */
}

button {
    width: 100%; /* Full width for button */
    padding: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer; /* Pointer cursor on hover */
    background-color: #17a2b8; /* Active link background */
    color: white;              /* Active link text color */
    border-radius: 30px;       /* Rounded corners for active lin*/
}

/*******************************************************/
/*******************************************************/
/*******************************************************/
.buttonBuy{
    text-decoration: none;
    width: 100%; /* Full width for button */
    padding: 5px;
    border: none;
    font-size: 16px;
    display: inline-block;
    background-color: #17a2b8; /* Active link background */
    color: white;              /* Active link text color */
    border-radius: 30px;   
}


.buttonEnterPackage {
    text-decoration: none;
    width: 100%; /* Full width for button */
    padding: 5px;
    border: none;
    font-size: 16px;
    display: inline-block;
    background-color: #1ab88b; /* Active link background */
    color: white;              /* Active link text color */
    border-radius: 30px;   
}


/* for register*/

/* Container holding the form, for overall layout */



.register-form-group {
    background-color: #fff; /* White background for the form */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Fixed width for the form */

   
}

/* Styles for individual form fields */
.register-form-group input[type="text"],
.register-form-group input[type="email"],
.register-form-group input[type="password"]
{
    width: 100%; /* Full width for inputs */
    padding: 10px;
    border: 1px solid #ddd; /* Light border */
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding is included in total width */
   

}

/* for the helper text under username*/
.register-form-group span {
   color: black; /* White text */
   font-size: 12px;
}
/* Styling for the submit button */
.register-form-group button[type="submit"] {
    width: 100%; /* Full width for button */
    padding: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer; /* Pointer cursor on hover */
    background-color: #17a2b8; /* Active link background */
    color: white;              /* Active link text color */
    border-radius: 30px;       /* Rounded corners for active lin*/
}



/* Hover and focus effects for inputs and button */
.register-form-group input[type="text"]:hover,
.register-form-group input[type="password"]:hover,
.register-form-group input[type="text"]:focus,
.register-form-group input[type="password"]:focus {
    border-color: #0056b3; /* Changes border to blue on hover/focus */
}

.register-form-group button[type="submit"]:hover {
    background-color: #004494; /* Darker blue on hover for button */
}

.register-form-group h2 {
    color : black;
    
    width: 300px; /* Fixed width for the form */
}

/*******************************************************/
/*******************************************************/
/*******************************************************/

/* Container for packages */
.packages-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    gap: 20px; /* Space between items */
    padding: 20px; /* Padding around the container */
    margin: auto; /* Centering the container if needed */
    max-width: 600px; /* Optional: you can set a max width for larger screens */
}

/* Styling each package card */
.package-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.package-item:hover {
    transform: translateY(-5px);
}

.package-item h3 {
    font-size: 20px;
    color: #0056b3;
}

.package-item p {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
}

/* Styling the buy button */
.package-item form button {
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.package-item form button:hover {
    background-color: #003d80;
}


.package-item p {
    color: black;
    font-style: italic;
}


/*******************************************************/
/*******************************************************/
/*******************************************************/

.packages-container {

}

.package-item {
    border: 1px solid #ccc; /* Adds a subtle border around each package */
    padding: 20px; /* Padding inside each package for content spacing */
    border-radius: 8px; /* Rounded corners for aesthetic feel */
    background-color: #f9f9f9; /* Light background for each item */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

.package-item h3 {
    margin-bottom: 10px; /* Spacing below the header */
}

.package-item p {
    margin-bottom: 10px; /* Spacing below each paragraph */
}


.package-item  {



}

/*******************************************************/
/*******************************************************/
/*******************************************************/

/* the gray color used in the background of the navig bar : #f8f9fa */
/* the blue color used in the main page : #17a2b8 */

/* The container <div> - needed to position the dropdown content */
/* Dropdown Button */
.dropbtn {
  font-family: 'Drugs';
  background-color: #f8f9fa;
  border-radius: 30px;  
  color: black;
  padding: 15px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  color: #17a2b8;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

.navbar, .dropdown {
    overflow: visible;  /* This is critical to ensure dropdowns can display outside the navbar */
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.radio-form {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.radio-input {
    margin: 0px;
}

.radio-label {
    margin: 0px;
    color: white;
}

.module-item {
    margin-bottom: 40px;
}

.ma-b-s {
    margin-bottom: 20px;
}