{% extends 'quizzes/base.html' %}
{% load static %} 
{% block title %}Home{% endblock %}
{% block content %}
  

	<div class="content-container">
    <div class="text-container">
        <h1 style="font-size: 100px; font-family: 'Bambi', Algerian;text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Welcome to the Home Page</h1>
        <p >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>

    
    
</div>
    

{% endblock %}